:root{
    --bg-color: Gainsboro;
    --text-bg-color: white;
    --text-color: black;
    --accent-color:Silver;
    --contrast-color: DodgerBlue;
}
html,body{
    height: 100%;
}

/******************* General rules ********************/
body{
    min-width: 320px;        
    background-color: var(--bg-color);
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: var(--text-color);
}

.wrapper{
    min-height: 100%;
    display: flex;
    flex-direction: column;
    
    background-color: var(--bg-color);
    opacity: .95;
    
    width:95%;
    margin: 0 auto;
}

/******************* Header rules ********************/
header{
    font-family: "PT Sans Caption", sans-serif;
}

ul.social, ul.link{
    list-style: none;
}
ul.social li{
    margin: 5px;
}
ul.social a{
    background-color: var(--accent-color);
    color: var(--contrast-color);
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    float: left;
    text-align: center;
    transition: all .3s;
}
ul.social a:hover{
    background-color: var(--contrast-color);
    color: var(--accent-color);
}
#title, #subtitle{
    margin-bottom: 0px;
}
nav, ul.dropdown-menu{
    background-color: var(--accent-color);
}

nav a.nav-link.active{
    font-weight: bold;
}
/******************* footer rules ********************/

footer h4{
    color: var(--contrast-color);
}

/******************* Кнопка вверх ********************/
#topBtn{
    position: fixed;
    bottom: 2.5%;
    right: 2.5%;
    background-color: var(--accent-color);
    opacity: .5;
    color: var(--text-bg-color);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 0;
    font-size: 25px;
    transition: all .5s;
    display: none;
}

#topBtn:hover{
    opacity: 1;
}

/******************* main rules ********************/

main{
    flex: 1 1 auto;
    background-color: var(--text-bg-color);
}

iframe{
    flex: 1 1 auto;
}
/*Для узких экранов*/
@media(max-height: 800px){
    iframe{
        flex: 1 1 90vh;
    }
}